#userAvatarDiv {
  top: 28rem;
  left: -2rem;
  z-index: 3;
  /* transition: bottom .3s; */
}

#userAvatar {
  width: 13rem;
  height: 13rem;
  background-image: url(../assets/avatar-media/avatar-image.jpg);
  background-position-x: -48px;
  background-position-y: -28px;
  background-repeat: no-repeat;
  background-size: 150%;
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 5px;
  border-radius: 50%;
  /* position: relative; */
}