#userHeaderBackground {
  height: 34rem;
  width: 100vw;
  background-image: url(../assets/header-media/background-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgb(255, 255, 255);
}