#userStatsNav {
  background-color: rgb(255, 255, 255);
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
  width: 1920px;
}

/* #userStatsUnorderedList {
  list-style: none;
} */

#rowDiv {
  width: 1040px;
}

.stats-list-item {
  margin-right: 0px;
  margin-left: 0px;
  padding-right: .85rem;
  padding-left: .85rem;
  border-color: transparent;
  border-width: 0px;
  border-style: none;
  /* transition-delay: 0s;
  transition-duration: 0.15s;
  transition-property: all;
  transition-timing-function: ease-in-out; */
}

#tweetsSpan {
  color: rgb(5, 159, 245);
}

#tweetsListItem {
  border-bottom-color: rgb(5, 159, 245);
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

/* #followingListItem:hover,
#followersListItem:hover,
#likesListItem:hover,
#momentsListItem:hover {
  border-bottom-color: rgb(5, 159, 245);
  border-bottom-style: solid;
  border-bottom-width: 2px;
} */

/* #tweetsListItem,
#followingListItem,
#followersListItem,
#likesListItem,
#momentsListItem,
#followBtn {
  cursor: pointer;
}  */

.user-stats-top,
.user-stats-bottom {
  font-weight: 700;
  color: rgb(108, 117, 125);
  text-size-adjust: 100%;
  letter-spacing: 0.25px;
  /* text-align: center; 
  list-style-image: none;
  list-style-type: none;
  list-style-position: outside; */
}

.user-stats-top {
  font-size: 13px;
  line-height: 13px;
  margin-bottom: 3px;
}

.user-stats-bottom {
  font-size: 18px;
  line-height: 18px;
}

/* .user-stats-bottom:hover {
  color: rgb(5, 159, 245);
} */

#followBtn {
  height: 36px;
  width: 108px;
  border-radius: 20px;
  margin-left: 9rem;
  z-index: 10;
}